.tabbedchatlog.tabs {
    flex: 0;
    margin: 0 0 5px;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px red;
}

.tabbedchatlog .item.active {
    color: #FFF;
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #ff6400;
}

.tabbedchatlog .item {
    height: 18px;
}

.type0 {
    display: none;
}

.type1 {
    display: none;
}

.type4 {
    display: none;
}

.type5 {
    display: none;
}

.hardHide {
    display: none !important;
}

#icNotification {
    top: 35px;
    right: 196px;
}

#oocNotification {
    top: 35px;
    right: -3px;
}

#rollsNotification {
    top: 35px;
    right: 92px;
}
